<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.955282043815-5tm4dfjcs5uv5qkvne9uv6jkf64div4a</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>955282043815-5tm4dfjcs5uv5qkvne9uv6jkf64div4a.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ExtraLight.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-SemiBold.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-ExtraBold.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto-ExtraLightItalic.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-SemiBoldItalic.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-ExtraBoldItalic.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
	</array>
</dict>
</plist>
